.app {
    text-align: center;
  }
.app_article{
    border: 1px solid black ;
    border-radius: 5px;
    margin: 10px;
}
  
  .app__button {
   padding: 5px;
   border: none;
   background-color: rgb(140, 170, 235);
   cursor: pointer;
   transition: background-color ease-in-out 0.5s;
  }
  
  .app__button:hover {
    background-color: rgb(107, 202, 69)
  }
  